# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json

# An empty starter config to use with Recyclarr.  Update the values below as
# needed for your instance.  You will be required to update the `api_key` and
# `base_url` for each instance you want to use.
#
# If you'd rather use pre-built configuration instead of building your own from
# scratch, see these pages:
#
# - Config Templates: https://recyclarr.dev/wiki/guide-configs/
# - CLI Command: https://recyclarr.dev/wiki/cli/config/list/templates/
#
# This file WILL NOT WORK as it currently is.  You need to read the
# documentation and build this configuration from scratch.  Note that there's no
# "one size fits all" configuration.  Please refer to the TRaSH Guides to
# understand how to build the appropriate configuration based on your hardware
# setup and capabilities.
#
# For more details on the configuration, see the Configuration Reference on the
# wiki here:
#
# https://recyclarr.dev/wiki/yaml/config-reference/
#
# Want a more flexible file layout?
#
# See: https://recyclarr.dev/wiki/file-structure/
---
# Configuration specific to Sonarr.  For Radarr, the layout is the same.
# See: https://recyclarr.dev/wiki/yaml/config-reference/basic/
sonarr:
  main:
    base_url: !secret sonarr_url
    api_key: !secret sonarr_api_key

    quality_definition:
      type: series

    # See: https://recyclarr.dev/wiki/yaml/config-reference/quality-profiles/
    quality_profiles:
      - name: WEB-1080p

    # See: https://recyclarr.dev/wiki/yaml/config-reference/custom-formats/
    custom_formats:
      - trash_ids:
          # Unwanted
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
          - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title)
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
          - fbcb31d8dabd2a319072b84fc0b7249c # Extras

    # See: https://recyclarr.dev/wiki/yaml/config-reference/media-naming/
    # media_naming:

radarr:
  main:
    base_url: !secret radarr_url
    api_key: !secret radarr_apikey
    quality_definition:
      type: movie
      preferred_ratio: 0.5
    quality_profiles:
      - name: HD
    custom_formats:
      - trash_ids:
        # HQ Release Groups
        - ed27ebfef2f323e964fb1f61391bcb35 # HD Bluray Tier 01
        - c20c8647f2746a1f4c4262b0fbbeeeae # HD Bluray Tier 02
        - 5608c71bcebba0a5e666223bae8c9227 # HD Bluray Tier 03
        - c20f169ef63c5f40c2def54abaf4438e # WEB Tier 01
        - 403816d65392c79236dcb6dd591aeda4 # WEB Tier 02
        - af94e0fe497124d1f9ce732069ec8c3b # WEB Tier 03
